:root {
    /* COLORS */
    --paleBlue: hsl(225, 100%, 94%);
    --brightBlue: hsl(245, 75%, 52%);
    --veryPaleBlue: hsl(225, 100%, 98%);
    --desaturatedBlue: hsl(224, 23%, 55%);
    --darkBlue: hsl(223, 47%, 23%);

    /* FONT */
    --redHatDisplay: 'Red Hat Display', sans-serif;
}
body {
    background-image: url('images/pattern-background-mobile.svg');
    background-repeat: no-repeat;
    background-color: var(--paleBlue);
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-component {
    width: 327px;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 71px 24px;
}
.card-component img {
    border-radius: 20px 20px 0 0;
}
.card-component h1 {
    font-family: var(--redHatDisplay);
    font-size: 22px;
    font-weight: 900;
    line-height: 29px;
    color: var(--darkBlue);
    margin-top: 32px;
    margin-bottom: 16px;
}
.card-component p {
    font-family: var(--redHatDisplay);
    font-size: 15px;
    font-weight: 500;
    color: var(--desaturatedBlue);
    text-align: center;
    line-height: 25px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 24px;
}
.card-component .plan-overview {
    display: flex;
    flex-direction: row;
    width: 279px;
    height: 81px;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--veryPaleBlue);
    border-radius: 11px;
    margin-bottom: 24px;
}
.plan-overview p {
    margin: 0;
}
.plan-overview .annual-plan {
    font-weight: 900;
    color: var(--darkBlue);
}
.plan-overview .change-plan {
    font-family: var(--redHatDisplay);
    text-decoration: underline;
    color: var(--brightBlue);
    font-weight: 700;
    transition: all 0.3s ease-in;
}
.card-component .payment-button {
    width: 279px;
    background-color: var(--brightBlue);
    color: #fff;
    font-family: var(--redHatDisplay);
    font-size: 15px;
    font-weight: 900;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 18px;
    border-radius: 11px;
    margin-bottom: 21px;
    box-shadow: 0px 20px 20px rgba(13, 48, 189, 15%);
    transition: background-color 0.3s ease-out;
}
.card-component .cancel-order {
    font-family: 15px;
    font-family: var(--redHatDisplay);
    font-weight: 900;
    color: var(--desaturatedBlue);
    margin-bottom: 32px;
    transition: color 0.3s ease-out;
}
@media screen and (min-width: 1440px) {
    body {
        background-image: url('images/pattern-background-desktop.svg');
        background-size: contain;
    }
    .card-component {
        margin: 102px 495px;
        width: 450px;
    }
    .card-component h1 {
        font-size: 28px;
        margin: 45px 48px 16px 48px;
    }
    .card-component p {
        font-size: 16px;
        margin: 0 48px 20px 48px;
    }
    .card-component .plan-overview {
        width:  354px;
    }
    .plan-overview p {
        margin: 0 94px 0 0;
    }
    .card-component .payment-button {
        width: 354px;
    }
    .plan-overview .change-plan:hover {
        text-decoration: none;
        cursor: pointer;
        color: #766CF1;
    }
    .card-component .payment-button:hover {
        background-color: #766CF1;
        cursor: pointer;
    }
    .card-component .cancel-order:hover {
        color: #1F2E55;
        cursor: pointer;
    }
}